.tracks {
  flex: 1;
  &__header {
    display: grid;
    grid-template-columns: 60px 1fr 1fr 1fr 30px;
    gap: 1rem;
    padding-right: 1.5px;

    & h6 {
      color: var(--color-muted-dark);
      font-size: 0.75rem;
      font-weight: 700;
      letter-spacing: -0.035em;
      text-transform: uppercase;
    }

    & svg {
      opacity: 0;
      color: var(--color-muted);
      transition: opacity 0.3s ease-in-out;
    }

    &__arrow {
      opacity: 1 !important;
    }
  }
  &__list {
    margin-top: var(--space-sm);
    height: calc(100vh - 40rem);
    overflow-y: scroll;
    position: relative;

    &_odd {
      background-color: hsla(0, 3%, 7%, 0.3);
    }
    &_dragging {
      opacity: 0.25;
    }

    &::-webkit-scrollbar {
      background-color: transparent;
      width: 0.25rem;
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(
        to bottom,
        transparent 0%,
        hsl(0, 3%, 45%) 50%,
        transparent 100%
      );
      border-radius: var(--border-radius);
      cursor: grab;
      &:active {
        cursor: grabbing;
      }
    }

    & li {
      display: grid;
      grid-template-columns: 60px 1fr 1fr 1fr 30px;
      gap: 1rem;
      transition: opacity 0.3s ease-in-out;
      margin-bottom: 0.5rem;

      & img {
        width: 60px;
        height: 60px;
        border-radius: var(--border-radius);
        object-fit: cover;
        transition: filter 0.3s ease-out-quint;
      }

      & p {
        color: var(--color-muted);
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        font-size: 0.875rem;
        transition: all 0.3s ease-in-out;
      }

      & :nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & p {
          color: var(--color-foreground);
        }
      }

      & :nth-child(3) {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & p {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
            color: var(--color-fg);
          }
        }
      }

      & :nth-child(4) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      & :nth-child(5) {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        & svg {
          cursor: grab;
          color: var(--color-muted);
          transition: color 0.3s ease-in-out;
          &:hover {
            color: var(--color-primary);
          }
          &:active {
            cursor: grabbing;
            color: var(--color-primary);
          }
        }
      }
    }
  }
}
