.tracks {
  width: 100%;
  & h6 {
    font-size: var(--font-2xs);
    font-weight: 600;
    color: var(--color-muted-dark);
    text-transform: uppercase;
  }
  &__heading {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 30px;
    padding-right: 0.25rem;
    gap: var(--space-xs);
  }
  &__songs {
    /* overflow-y: scroll; */
    /* height: 600px; */
    margin-top: var(--space-sm);
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 0.25rem;
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(
        to bottom,
        transparent 0%,
        hsl(0, 3%, 45%) 50%,
        transparent 100%
      );
      border-radius: var(--border-radius);
      cursor: grab;
      &:active {
        cursor: grabbing;
      }
    }
  }
  &__dragging {
    opacity: 0.2;
  }
  &__song {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 30px;
    gap: var(--space-xs);
    margin-bottom: var(--space-xs);
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: var(--color-muted-darker);
    }
    & img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 2px;
    }
    &_details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--space-2xs);
      & p {
        font-size: var(--font-xs);
        font-weight: 600;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
      & div {
        display: flex;
        align-items: center;
        gap: var(--space-2xs);
        & span {
          font-size: var(--font-2xs);
          color: var(--color-muted);
          font-weight: 600;
          cursor: pointer;
          &:hover {
            color: var(--color-primary);
          }
        }
      }
    }
    &_explicit {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 18px;
      width: 18px;
      background-color: var(--color-muted);
      border-radius: 2px;
      & p {
        font-size: var(--font-2xs);
        font-weight: 600;
        color: var(--color-fg) !important;
        line-height: 1;
      }
    }
    &_album {
      display: flex;
      align-items: center;
      & p {
        font-size: var(--font-xs);
        font-weight: 600;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
    }
    &_handle {
      display: flex;
      align-items: center;
      justify-content: center;
      & span {
        cursor: grab;
        transition: color 0.2s ease-in-out;
        &:hover {
          color: var(--color-primary);
        }
        &:active {
          cursor: grabbing;
          color: var(--color-primary);
        }
      }
    }
  }
}
