.hero {
  & h1 {
    font-size: var(--font-lg);
    font-weight: 900;
    line-height: 1.05;
    letter-spacing: -0.05em;
    @media (width >= 768px) {
      font-size: var(--font-xl);
    }

    & span {
      display: inline-block;
      color: var(--color-primary);
    }
  }

  & h4 {
    font-size: var(--font-md);
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -0.05em;
    color: var(--color-muted);
    margin-top: 0.875rem;
    @media (width >= 768px) {
      font-size: var(--font-md);
    }
    & span {
      color: var(--color-fg);
    }
    & .span {
      background: linear-gradient(
        to right,
        hsl(0, 3%, 45%) 0%,
        transparent 100%
      );
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
  }
}
