.filter {
  margin-top: var(--space-sm);
  &__heading {
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
    & p {
      font-size: var(--font-xs);
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: -0.035em;
      text-transform: uppercase;
    }
  }
  &__sort {
    margin-top: var(--space-sm);
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
    & button {
      background-color: var(--color-muted-dark);
      color: var(--mauve-11);
      padding: var(--space-2xs);
      border-radius: var(--border-radius-xs);
      display: flex;
      font-size: 15px;
      line-height: 1;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-sine;
      cursor: pointer;
      &:hover {
        background-color: var(--color-muted);
      }
      &:focus {
        outline: 2px solid var(--color-secondary);
      }
    }
    & button[data-state='on'] {
      background-color: transparent;
      outline: 2px solid var(--color-primary);
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &__label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: var(--space-2xs);
      & p {
        text-transform: capitalize;
        font-weight: 600;
        color: var(--color-muted-light);
        font-size: var(--font-xs);
      }
      & small {
        font-size: var(--font-2xs);
        font-weight: 700;
        text-transform: uppercase;
        color: var(--color-muted);
      }
    }
  }
  &__attributes {
    display: flex;
    width: 100%;
    justify-content: space-between;
    & span {
      font-size: var(--font-2xs);
      font-weight: 700;
      text-transform: uppercase;
      color: var(--color-muted-dark);
    }
  }
}
